@import "tailwindcss";

body {
  background-color: #fcfbf5;
  color: var(--foreground);
  font-family: var(--font-jakarta), system-ui, sans-serif;
}

@theme {
  --color-primary: #e53307;
  --color-secondary: #a3a3a3;
  --color-accent: #ffbe01;
  --color-paragraph: #707070;
  --color-foreground: #111;
  --color-background: #f2eddc;
  --color-error: #ef4444;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
